.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--background-color);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    margin-bottom: 20px;
  }
  .modal-body {
    padding: 2px 16px;
  }
  .modal-body p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin: 10px 0px;
  }
  .modal-content {
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .modal-content h2 {
    font-family: fuenteMaki;
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0px;
    text-shadow: 1px 1px #000000;
  }